params {
    sample_sheet = "${projectDir}/test/sample_sheet.tsv"
    output_dir = "${projectDir}/test_out"
    raw_bam_dir = "/project/gzy8899/lyang/TrimAndMapping/test_out/deduplicateion_out"
    fasta = "/project/gzy8899/references/Arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa"
    gtf = "/project/gzy8899/references/Arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.57.gtf"
    gsize = 133725193
}