manifest {
  name = 'DAPseq peak calling'
  version = '1.0.0'
  description = 'Call peak with MACS3 and motif analysis'
}

process {
	executor = 'slurm'
	queue = 'caslake'
	clusterOptions = '-A pi-zhuzhuzhang'
}

profiles {
  conda {
    conda.enabled = true
  }
}

def max_mem(obj) {
    if (obj.compareTo(params.task_max_memory as nextflow.util.MemoryUnit) == 1)
        return params.task_max_memory as nextflow.util.MemoryUnit
    else
        return obj
}
def max_cpu(obj) {
    return Math.min(obj, params.task_max_cpus as int)
}

